.main-div-container {
    background-color: #FFFFFF;
}

.custom-box {
    text-align: center;
    background-color: #FFFFFF;
    padding: 1rem;
}

.listOfcontactsDisagne{
    padding-top: 10px;
    border: solid 1px #ecebea; 
}
