* {
     margin: 0;
     padding: 0;
 }

 .matchGeneralDiv {
    width: 100%;
    height: 490px;
    position: relative;
}

.matchName { 
    background-color: #4db8ff;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: 100%; 
    margin-bottom: 15px;
    
}

.errorPopup {
    margin-left: -3px;
    font-size: 12px;
    color: red;
} 

.selectedMatches {
    font-size: 17px;
    margin-bottom: 10px; 
    margin-left: 5px;
}

.realmName {
    font-size: 17px;
    margin-left: 110px;
}


p {
    font-size: 17px;
    margin-left: 20px;
}

.picklist {
    width: 180px;
    margin-left: 10%;
    top: -50px;

}

.matchNameRow {
    width: 200px;
}

.coloumn2 {
    width: 250px;
}

.realm {
    background-color: #fff;
    height: 40px;
 
}